<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PetLife"
        tools:targetApi="31">
        <activity
            android:name=".ui.petArea.LastVaccinationDate"
            android:exported="false">
            <intent-filter>
                <action android:name="ACTION_TO_OPEN_EDIT_PETS_LAST_VACCINATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.petArea.LastPetshopDate"
            android:exported="false">
            <intent-filter>
                <action android:name="ACTION_TO_OPEN_EDIT_PETS_LAST_PETSHOP_VISIT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.petArea.LastVetDate"
            android:exported="false">
            <intent-filter>
                <action android:name="ACTION_TO_OPEN_EDIT_PETS_LAST_VET_VISIT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.userArea.UserAreaActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.petArea.PetAreaActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="ACTION_TO_OPEN_PETS_INFO_SCREEN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.petArea.editPetInfos"
            android:exported="false">
            <intent-filter>
                <action android:name="ACTION_TO_OPEN_EDIT_PETS_INFOS_SCREEN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>